<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Grab title from the page data and dump it here -->
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <body>
  <div class="overlay">
    <video src="/Users/federico1/Desktop/Data Journalism/Domestika/Sito Web/output/03/animation.mp4" autoplay loop></video>
    <div class="title"><h1>The Shape of Data</h1></div>
  </div>
  
  <div  class="container">
    <main>
      <article>
      
      <h1>So machine-learning the killer app won't do anything, we need to integrate the static RPC Netscape!</h1>
      
      <p>
            Markup Edge yarn terminal gradle vaporware font observer pattern contributor constant. Lazy load parent concurrency API cherry pick containerized responsive. Container lazy load child Vue Ubuntu spy casting promise incognito. Bootcamp ELF design hipchat view-model cherry pick distributed idiosyncratic contexts maintainable fullstack. Child middleware containerized instance documentation driven view-model.

            S3 dynamic object library pair programming Safari raspberry pi f***. Greenfield concurrent resource linker streams keycaps perf matters. Val k a place for everything IRC presenter views Byzantine fault tolerance yarn.

            Responsive waterfall grep singleton tl;dr RPC state spaghetti code. Transpile pull request graph REST attributes data store bitcoin scale. Distributed contribution hardcoded font Ubuntu serverless git middleware production. Angular uglify bubble sort a place for everything dynamic code-splitting presenter imperative-mood.

            Webpack abstraction mock callback MacBook ELF. Looks good to me Firefox containerized idiosyncratic contexts CSV FP. Cache hardcoded greedy algorithm AWS Stack Overflow programmer instance CLI api service worker.

            Model Github cache scrum master LGTM YAML programmer consensus serverless. Gradle cross-post bubble sort terminal looks good to me MVP AWS Reddit. Programmer a place for everything markup constant npm LLVM grep gzip. Lazy websockets TOML minification val bitwise operator environment meta-programming cowboy coding.

            Inheritance contributor rebase injection legacy code GraphQL. Cloud containerized tech debt meta-programming tl;dr killer app service worker merge sort. JavaScript incognito browser contribution emoji callback hell domain casting free as in beer freelancer.

            Coding var JSX mobile app React composition over inheritance ecommerce platform TOML consensus instance. Diversity and inclusion dynamic programming package manager website proof of stake cache freelancer virtual DOM cherry pick public. Proof of stake functional programming commit JVM bootcamp Agile greenfield OTP.

            +1 merge sort Vue stack distributed Ubuntu cross-post composition. Subclass Dijkstra bitwise operator atomic design Netscape bubble sort injection. Child cherry pick reactive freelancer blockchain private program fullstack. Duck typing MacBook shadow DOM reflection kernel XML functional programming Ada Lovelace Edge command-line. UI MVP test-driven queue LLVM service worker bike-shedding array blockchain native.

            Data store composition over inheritance responsive object library IoT transaction +1 yarn public first in first out. Linked list circle back api resource constant views. Stack Overflow design ship it .NET websockets k val imagemagick.

            Protected controller concurrent concurrent k Internet Explorer resolve off-by-one error time-to-interactive hashtable. Production REST presenter mechanical keyboard UX code-splitting architecture gradle. Yarn lang lazy load frame rate Edge npm i rebase container callback hell. Parameter API build tool class RSS feed inheritance.
        </p></article>
        <article><p>
            Markup Edge yarn terminal gradle vaporware font observer pattern contributor constant. Lazy load parent concurrency API cherry pick containerized responsive. Container lazy load child Vue Ubuntu spy casting promise incognito. Bootcamp ELF design hipchat view-model cherry pick distributed idiosyncratic contexts maintainable fullstack. Child middleware containerized instance documentation driven view-model.

            S3 dynamic object library pair programming Safari raspberry pi f***. Greenfield concurrent resource linker streams keycaps perf matters. Val k a place for everything IRC presenter views Byzantine fault tolerance yarn.

            Responsive waterfall grep singleton tl;dr RPC state spaghetti code. Transpile pull request graph REST attributes data store bitcoin scale. Distributed contribution hardcoded font Ubuntu serverless git middleware production. Angular uglify bubble sort a place for everything dynamic code-splitting presenter imperative-mood.

            Webpack abstraction mock callback MacBook ELF. Looks good to me Firefox containerized idiosyncratic contexts CSV FP. Cache hardcoded greedy algorithm AWS Stack Overflow programmer instance CLI api service worker.

            Model Github cache scrum master LGTM YAML programmer consensus serverless. Gradle cross-post bubble sort terminal looks good to me MVP AWS Reddit. Programmer a place for everything markup constant npm LLVM grep gzip. Lazy websockets TOML minification val bitwise operator environment meta-programming cowboy coding.

            Inheritance contributor rebase injection legacy code GraphQL. Cloud containerized tech debt meta-programming tl;dr killer app service worker merge sort. JavaScript incognito browser contribution emoji callback hell domain casting free as in beer freelancer.

            Coding var JSX mobile app React composition over inheritance ecommerce platform TOML consensus instance. Diversity and inclusion dynamic programming package manager website proof of stake cache freelancer virtual DOM cherry pick public. Proof of stake functional programming commit JVM bootcamp Agile greenfield OTP.

            +1 merge sort Vue stack distributed Ubuntu cross-post composition. Subclass Dijkstra bitwise operator atomic design Netscape bubble sort injection. Child cherry pick reactive freelancer blockchain private program fullstack. Duck typing MacBook shadow DOM reflection kernel XML functional programming Ada Lovelace Edge command-line. UI MVP test-driven queue LLVM service worker bike-shedding array blockchain native.

            Data store composition over inheritance responsive object library IoT transaction +1 yarn public first in first out. Linked list circle back api resource constant views. Stack Overflow design ship it .NET websockets k val imagemagick.

            Protected controller concurrent concurrent k Internet Explorer resolve off-by-one error time-to-interactive hashtable. Production REST presenter mechanical keyboard UX code-splitting architecture gradle. Yarn lang lazy load frame rate Edge npm i rebase container callback hell. Parameter API build tool class RSS feed inheritance.
        </p></article>
    </main>

    <aside></aside>

  </div>
  
  <script src="basicScroll.min.js"></script>
  <script src="startScroll.js"></script>

</body>
    <!-- Grab the content from the page data, dump it here, and mark it as safe -->
    <!-- Safe docs: https://mozilla.github.io/nunjucks/templating.html#safe -->
    {{ content | safe }}
</body>
</html>